{% load static %}
<head>
  <!-- En el head de tu documento HTML -->
<link rel="stylesheet" href="{% static 'miapp/css/styles.css' %}">
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<link href="{% static 'miapp/css/custom_ckeditor.css' %}" rel="stylesheet">

</head>
{% if request.user.is_staff %}
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #deeaee;">
  <div class="container">
    <span class="navbar-brand" href="#"><i>Administrar</i></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nep" aria-controls="nep" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nep">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'articulo-create' %}"><i>Agregar Articulo</i></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'articulos' %}"><i>Listar Articulos</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'compras' %}"><i>Listar Compras</i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
{% endif %}
<!-- jQuery (debes incluirlo antes que Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Bootstrap JS (incluyendo Popper.js) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
